<div class="container">
    <h1>Student Council</h1>
    <p>The Student Council consists of students from every track. Together, they will represent the interests of honors
        students in meetings with the Honors Academy. By being up-to-date about the progress in their tracks, they can help
        evulate the quality of the Honors projects to safeguard excellence.</p>
    <h3>How can we help?</h3>
    <p>The Student Council is there to improve your Honors experiences within the track. Its main focus:</p>
    <ul>
        <li>Questions about the content or organization of the track.</li>
        <li>Feedback on the track</li>
        <li>Exceptions within the track</li>
        <li>Special honors projects</li>
    </ul>
    <h3>Responsibilities Student Council</h3>
    <p>Being a member of the Student Council includes the following responsibilities:</p>
    <ul>
        <li>Meet six times a year with other track representatives and the Honors Academy</li>
        <li>Contact person for fellow track members</li>
        <li>Evaluation of your track</li>
    </ul>
    <h3>Current Student Council members</h3>
    <p>The Student Council currently consists of the following members, each representing a different track:</p>
    <ul>
        <li>Artificial Intelligence - Simon Sukup</li>
        <li>Competitive Programming and Problem Solving - Kati Overbeeke</li>
        <li>Empowerment for Health and Wellbeing - Hanna Broszczak</li>
        <li>Energy Transition - Paul Volčokas</li>
        <li>High Tech Systems - Dragoș Diaconu</li>
        <li>Networked Society - Igor Dmochowski</li>
        <li>SensUs Organization - Noah Olmeijer</li>
        <li>Smart Cities - Mauricio Buendia Silva</li>
        <li>Smart Mobility - David Marković</li>
    </ul>
    <h3>How to get in touch with the the Student Council?</h3>
    <p>Feel free to approach your track representative at all times. He/she will be able to give you advice or discuss your
        question during the next meeting. You can get the name of the student representative for your track via the
        Officer of Internal Affairs.</p>
</div>
