<div class="container">
    <h1>Sponsors</h1>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" style="padding: 15px">
            <div class="partner-box">
                <div class="partner-img-container" style="background-image: url(./assets/img/logo_dnb.jpg)">
                    <div class="partner-overlay" style="background-color: #1e22aa">
                        <a href="partners/sponsors/dnb">
                            <div class="partner-text">
                                <h4>DNB</h4>
                                <p>Stage lopen of net afgestudeerd? Denk dan eens aan De Nederlandsche Bank (DNB). Bij
                                    ons
                                    werk je aan vertrouwen en financiële stabiliteit. Bijvoorbeeld door toezicht te
                                    houden
                                    op financiële instellingen, zodat men veilig kan blijven lenen en sparen.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="partner-footer">
                    <ul class="partner-btnlist">
                        <li>
                            <a href="partners/sponsors/dnb" class="btn btn-default partner-btn-small">
                                <i class="fa fa-ellipsis-h"></i>&nbsp;&nbsp;Read more
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" style="padding: 15px">
            <div class="partner-box">
                <div class="partner-img-container" style="background-image: url(./assets/img/partners/optiver.png)">
                    <div class="partner-overlay" style="background-color: #e95f40">
                        <a href="partners/sponsors/optiver">
                            <div class="partner-text">
                                <h4>Optiver</h4>
                                <p>Over thirty years ago, Optiver started business as a single trader on the floor
                                    of Amsterdam’s European Options Exchange. Today, we are a leading global
                                    electronic market maker, focused on pricing, execution and risk management.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="partner-footer">
                    <ul class="partner-btnlist">
                        <li>
                            <a href="partners/sponsors/optiver" class="btn btn-default partner-btn-small">
                                <i class="fa fa-ellipsis-h"></i>&nbsp;&nbsp;Read more
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>