<div class="container">
    <ol class="breadcrumb small">
        <li><a href="/partners/sponsors">Sponsors</a></li>
        <li class="active">Frisse Blikken</li>
    </ol>

    <h1>Frisse Blikken</h1>
    <p>Every change starts with an idea. An idea of how things could be done differently.
        How to move forward. But an idea alone does not change anything. An idea only changes something when somebody starts to act.
        Like  an entrepreneur who turns an idea into a business, an ambition into a transition.
        An idea only changes anything when someone steps up to make the idea a reality.
    </p>
    <p>This is what we do. The people of Fresh Forces. Entrepreneurial top talents.
        Young, contagiously enthusiastic creatives who take responsibility.
        Enthusiasts who set things in motion. We observe the world around us with curiosity and amazement.
        The world of large organizations and institutions facing new challenges and societal transitions.
        A world that demands innovation.
    </p>
    <p>We work with organizations longing for the fresh perspective of entrepreneurial top talents.
        You can turn to us for questions about development and learning trajectories, reaching modern consumers,
        employees and students, serious gaming and gamification, process optimization, talent development and (labor-market) communication.
        All challenges that come naturally to us as the new generation.
        Challenges that could use a fresh perspective.
    </p>
    <p>Every change starts with an idea. We make sure things get done. We make ideas a reality. We get your organization moving.
    </p>
</div>