<div class="container visible-xs-block">
    <h1>Your screen is <br><span class="text-primary">too small :(</span></h1>
    <p>CONTEXT was created with a physical magazine in mind.<br>
        Open this page on a bigger screen to read the magazine!</p>
</div>

<p id="magazine_notification" class="small text-center visible-sm-block">
    CONTEXT is best read on a wider screen.</p>

<div class="visible-md-block visible-lg-block  no-overflow">
    <div class="magazine_container container">
        <iframe width="100%" height="700px" src="https://www.yumpu.com/en/embed/view/4LcAUIZkWqVrXx1d" frameborder="0" allowfullscreen="true"  allowtransparency="true"></iframe><br><a href="https://www.yumpu.com/en/document/view/67788900/context-final-version-i2" title="context_final_version_i2" target="_blank"></a>
    </div>
</div>

<div class="container">
    <div class=" visible-md-block visible-lg-block col-md-6 no-overflow">
        <h1 class="h2">Downloads:</h1>
        <a href=".\assets\documents\context\Context2020.pdf" download>Context Issue 1 - 2020</a>
        <br>
        <a href=".\assets\documents\context\Context2021.pdf" download>Context Issue 2 - 2021</a>
    </div>
</div>
