<div class="container">

    <form class="form-horizontal">
        <header>
            <h1>Hey {{firstName ? firstName : "you"}}!<br>
                Welcome to the Honors community :)<br>
                <small class="hidden-sm text-primary">Register for the Honors Study Association Confluente</small>
            </h1>
        </header>

        <fieldset class="section">
            <legend class="h4 block">First, the basics.</legend>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-firstName" class="col-xs-12 col-sm-3 control-label">Name*</label>
                        <div class="col-xs-6 col-sm-4">
                            <input placeholder="First name" type="text" [(ngModel)]="firstName" class="form-control" id="userCreate-firstName" required [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <input placeholder="Family name" type="text" [(ngModel)]="lastName" class="form-control" id="userCreate-lastName" required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-email" class="col-xs-12 col-sm-3 control-label">TU/e Email address *</label>
                        <div class="col-xs-12 col-sm-9">
                            <input placeholder="@student.tue.nl" type="email" [(ngModel)]="email" class="form-control" id="userCreate-email" required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    Essential communication will proceed through your TU/e email, as well as the promotion of events.
                </p>
            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-member" class="col-xs-12 col-sm-3 control-label">Membership*</label>
                        <div class="col-xs-12 col-sm-9">
                            <select [(ngModel)]="membership" class="form-control" id="userCreate-member" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let ms of memberships" [value]="ms">{{ms}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
        </fieldset>

        <hr>

        <fieldset class="section">
            <legend class="h4 block">Additional information. This part is <span class="text-primary">optional</span>.</legend>
            
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-personalEmail" class="col-xs-12 col-sm-3 control-label">Personal Email address</label>
                        <div class="col-xs-12 col-sm-9">
                            <input placeholder="@anyemail.com" type="email" [(ngModel)]="personalEmail" class="form-control" id="userCreate-personalEmail" required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    Invitation to become an alumni of our association and invitations for future reunions will be sent via your personal email. 
                </p>
            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-dob" class="col-xs-12 col-sm-3 control-label">Date of birth</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="date" [(ngModel)]="dob" class="form-control" id="userCreate-dob" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="clearfix"></div>

            <div class="row section">
                <div class="bg-info small section block col-xs-12 col-md-7">
                    <p>We would love to share your birthday with the rest of the association such that everyone knows
                        when to congratulate you. Are you okay with us sharing your birthday with other Confluente
                        members (in the shared calendar, in the weekly e-mail and/or in the Honors Room)?</p>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <div class="col-xs-12 col-md-8 col-lg-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="DOBRight" id="userCreate-consentDOB" [ngModelOptions]="{standalone: true}">Yes, I am okay with that.
                        </label>
                    </div>
                </div>

            </div>
           

            <div class="clearfix block"></div>


            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-major" class="col-xs-12 col-sm-3 control-label">
                            <span *ngIf="membership == memberships[1] || membership == memberships[2]">(old) </span>TU/e Major</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" [(ngModel)]="major" class="form-control" id="userCreate-major" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-track" class="col-xs-12 col-sm-3 control-label">
                            <span *ngIf="membership == memberships[1] || membership == memberships[2]">(old) </span>Honors track</label>
                        <div class="col-xs-12 col-sm-9">
                            <select [(ngModel)]="honorsTrack" class="form-control" id="userCreate-track" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let track of tracks" [value]="track">{{track}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-trackstart" class="col-xs-12 col-sm-3 col-sm-offset-1 control-label">started in</label>
                        <div class="col-xs-12 col-sm-4">
                            <select [(ngModel)]="generation" class="form-control" id="userCreate-trackstart" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let gen of generations" [value]="gen">{{gen}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-cardNumber" class="col-xs-12 col-sm-3 control-label">Card number</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="tel" [(ngModel)]="cardNumber" [disabled]="membership == memberships[1] || membership == memberships[2]"
                                   class="form-control" id="userCreate-cardNumber" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>

                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small"
                        *ngIf="!(membership == memberships[1] || membership == memberships[2])">
                    This will be used to grant you access to the Honors Room.
                </p>
            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-phone" class="col-xs-12 col-sm-3 control-label">Mobile phone</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="tel" [(ngModel)]="phone" class="form-control" id="userCreate-phone" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    This will be used for quick contact for activities if needed.
                </p>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-address" class="col-xs-12 col-sm-3 control-label">Address</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" [(ngModel)]="address" class="form-control" id="userCreate-address" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    This enables the board to send an association update through post, or to send you a gift.
                </p>
            </div>

            <div class="clearfix"></div>
        </fieldset>

        <hr>

        <fieldset class="section">

            <legend class="h4 block">Finalize.</legend>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-password" class="col-xs-12 col-sm-3 control-label">Password*</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="password" [(ngModel)]="password" class="form-control" id="userCreate-password" required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    Used to login to the website.
                </p>
            </div>

            <div class="row section">
                <div class="bg-info small section block col-xs-12 col-md-7">
                    <p>Your information will be stored and handled as explained in the <a href="/privacy_policy">privacy policy</a>.</p>
                    <p>At activities of H.S.A. Confluente, photos may be made of you.<br>
                        We would like to post photos on the website, where they are only visible for members of H.S.A. Confluente.<br>
                        If it is a really nice picture, we would like to be able to hang it in the Honors Room as well.<br>
                    </p>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <div class="col-xs-12 col-md-8 col-lg-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="portraitRight" id="userCreate-consent" [ngModelOptions]="{standalone: true}">Yes, I am okay with that.
                        </label>
                    </div>
                </div>

                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    You can always request something of yourself to be removed!
                </p>
            </div>

        </fieldset>

        <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="loading">Finish</button>

    </form>

</div>
