<div class="container">
    <ol class="breadcrumb small">
        <li><a href="/education/honors_academy">Honors Academy</a></li>
        <li><a href="/education/honors_bachelor">Bachelor tracks</a></li>
        <li class="active">Networked Society</li>
    </ol>

    <div class="row">
        <div class="flex flex-between">

            <!-- Sidebar navigation -->
            <div class="col-xs-12 col-md-2 small">
                <app-menu-tracks class="sticky nav nav-pills nav-stacked navbar-collapse collapse nav-pad">
                </app-menu-tracks>
            </div>

            <!-- Content -->
            <div class="col-xs-12 col-md-7">
                <h1 class="col-xs-12 col-md-7 center track-title">
                    <a class="btn btn-link navbar-toggle nav-toggle collapsed" type="button" data-toggle="collapse"
                       aria-expanded="false" data-target="#nav-sidebar">
                        <span class="fa fa-bars"></span>
                    </a>
                    Networked Society
                    <small>HA101, HA102</small>
                </h1>

                <p>They've got no style</p>

                <h4>Lectures</h4>
                <p>They've got no grace</p>

                <h4>This track</h4>
                <p>Doesn't have a page</p>

            </div>

            <!-- Right sidebar -->
            <div class="col-xs-12 col-md-2 small">
                <div class="sticky nav-pad">
                    <p>
                        <strong>Track info</strong><br>
                        dr.ir. whathisface<br>
                        <a href="https://osiris.tue.nl/osiris_student_tueprd/OnderwijsCatalogusSelect.do?taal=en&selectie=cursus&collegejaar=2020&cursus=HA101">Track
                            info on Osiris</a><br>
                    </p>
                    <p>
                        <strong>Student Council</strong><br>
                        Some McGuy<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
