<div class="container">
    <h1>Alumni Network</h1>
    <p>At Confluente, we highly appreciate our Honors alumni. Are you a Confluente alumnus and do you want to stay
        connected
        with the association? Awesome! Confluente organizes special alumni events throughout the year, such as an alumni
        drink. Besides, some regular events are also open for alumni. You can join the alumni
        newsletter by sending an email to <a href="mailto:alumni@hsaconfluente.nl">alumni@hsaconfluente.nl</a>, or you
        can follow the <a href="https://www.linkedin.com/company/17982288/admin/">Confluente LinkedIn</a> page to see what Confluente is
        up to.
    <h3>LinkedIn</h3>
    <p>The LinkedIn page of Confluente is the place for us to share important events, accomplishments and other
        interesting developments. It's also the place where we will introduce the new board every year, so alumni
        will have a better sense of what's happening and, more importantly, who it is they will most likely
        communicate with when there is interest to attend one of our events.
    <h3>Alumni Newsletter</h3>
    <p>The Alumni Newsletter is a two-yearly email newsletter. It covers all alumni events as well as the latest
        developments within the association and the Honors Academy. Interested? Send an email to <a
            href="mailto:alumni@hsaconfluente.nl">alumni@hsaconfluente.nl</a>
    </p>
</div>