<div class="container">

    <ol class="breadcrumb small ng-scope">
        <li><a href="/manage">Management Dashboard</a></li>
        <li class="active">Edit event</li>
    </ol>

    <form class="form-horizontal" [formGroup]="uploadForm">
        <header>
            <h1>Edit event</h1>
        </header>

        <div class="row">
            <div class="col-xs-12 col-md-8">

                <div class="section">

                    <div class="form-group">
                        <label for="activityEdit-name" class="col-xs-12 col-sm-2 control-label">Name</label>
                        <div class="col-xs-12 col-sm-10 col-lg-9">
                            <input type="text" [(ngModel)]="activity.name" [ngModelOptions]="{standalone: true}" class="form-control" id="activityEdit-name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="activityEdit-date" class="col-xs-12 col-sm-2 control-label">Date</label>
                        <div class="col-xs-6 col-sm-5 col-lg-4">
                            <input type="date" [(ngModel)]="activity.date" [ngModelOptions]="{standalone: true}" class="form-control" id="activityEdit-date"/>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-sm-offset-1">
                            <input type="text" [(ngModel)]="activity.startTime" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="hh:mm"
                                   id="activityEdit-startTime"/>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <input type="text" [(ngModel)]="activity.endTime" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="hh:mm"
                                   id="activityEdit-time"/>
                        </div>
                    </div>

                </div>
                <div class="block">

                    <div class="form-group">
                        <label for="activityEdit-location" class="col-xs-12 col-sm-2 control-label">Location</label>
                        <div class="col-xs-12 col-sm-10 col-lg-9">
                            <input type="text" [(ngModel)]="activity.location" [ngModelOptions]="{standalone: true}" class="form-control"
                                   id="activityEdit-location"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="activityEdit-desc" class="col-xs-12 col-sm-2 control-label">Description</label>
                        <div class="col-xs-12 col-sm-10 col-lg-9">
                            <textarea [(ngModel)]="activity.description" [ngModelOptions]="{standalone: true}" class="form-control" style="height:300px"
                                      id="activityEdit-desc"></textarea>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xs-12 col-md-4">

                <div class="section">

                    <div class="form-group">
                        <label for="activityEdit-organize" class="col-xs-12 col-sm-2 col-md-5 control-label">Organized
                            by</label>
                        <div class="col-xs-12 col-sm-10 col-md-7">
                            <select [(ngModel)]="activity.OrganizerId" [ngModelOptions]="{standalone: true}" class="form-control" id="activityEdit-organize">
                                <option *ngFor="let group of user.groups | filter : groupFilterCallback : 'nonEmptyQuery'" [value]="group.id">{{group.fullName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="activityEdit-participationFee" class="col-xs-12 col-sm-2 col-md-5 control-label">Costs</label>
                        <div class="col-xs-12 col-sm-10 col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon">€</span>
                                <input type="text" [(ngModel)]="activity.participationFee" [ngModelOptions]="{standalone: true}" class="form-control"
                                       placeholder="0.00" id="activityEdit-participationFee"/>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="block">
                    <div class="form-group">
                        <label for="activityEdit-cover" class="col-xs-12 col-sm-2 col-md-5 control-label">Cover
                            image</label>
                        <div class="col-xs-12 col-sm-10 col-md-7">
                            <div *ngIf="activity.hasCoverImage"><input (click)="toggleKeepCurrent()"
                                                                       [checked]="keepCurrent" type="checkbox">Keep
                                current picture
                            </div>
                            <input id="activityEdit-cover" name="image" (change)="onFileSelect($event)" type="file" accept=".jpeg,.jpg,.png" [disabled]="keepCurrent"/>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="checkbox">
                        <label>
                            <input (click)="toggleSubscribe()" [checked]="activity.canSubscribe" type="checkbox">
                            Requires subscription
                        </label>
                    </div>

                    <div class="form-group section">
                        <label for="subscriptionDeadline-date" class="col-xs-12 col-sm-2 col-md-5 control-label">Deadline</label>
                        <div class="col-xs-12 col-sm-10 col-md-7">
                            <input type="date" [(ngModel)]="deadline.subscriptionDeadline" [ngModelOptions]="{standalone: true}" class="form-control"
                                   id="subscriptionDeadline-date" [disabled]="!activity.canSubscribe"/>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="clearfix"></div>

        <div id="customizeSubscription" *ngIf="activity.canSubscribe" class="block">

            <h3 class="section">Customize subscription form</h3>

            <div class="form-group" *ngFor="let input of inputs; index as i">

                <div class="col-xs-12 col-md-8">
                    <div class="row">

                        <label for="activityEdit-fullQuestion{{i}}" class="col-xs-12 col-sm-2 control-label">Question
                            {{i + 1}}</label>

                        <div class="col-xs-6 col-lg-7">
                            <input type="text" [(ngModel)]="input.fullQuestion" [ngModelOptions]="{standalone: true}" class="form-control"
                                   id="activityEdit-fullQuestion{{i}}"
                                   [disabled]="input.type === 'name' || input.type === 'TU/e email'"/>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-3">
                            <select [(ngModel)]="input.type" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [disabled]="input.type === 'name' || input.type === 'TU/e email'">
                                <option *ngFor="let type in types" [value]="type">{{type}}</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-md-4" *ngIf="input.type !== 'name' && input.type !== 'TU/e email'">

                    <div class="form-group">

                        <div class="checkbox col-xs-6 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1">
                            <label>
                                <input [(ngModel)]="input.required" [ngModelOptions]="{standalone: true}"
                                       [disabled]="input.type === 'name' || input.type === 'TU/e email'"
                                       type="checkbox" id="activityEdit-required{{i}}"> Mandatory
                            </label>
                            <label>
                                <input [(ngModel)]="input.privacyOfQuestion" [ngModelOptions]="{standalone: true}"
                                       [disabled]="input.type === 'name' || input.type === 'TU/e email'"
                                       type="checkbox" id="activityEdit-privacyOfQuestion{{i}}"> Private Question
                            </label>
                        </div>

                        <div class="col-xs-6 col-lg-5 text-right">
                            <div class="btn-group">
                                <button class="btn btn-link" (click)="arrayMove(inputs, i, i - 1)"
                                        *ngIf="i > 2"><i class="fa fa-angle-up"></i></button>
                                <button class="btn btn-link" *ngIf="i == 2" disabled><i class="fa fa-angle-up"></i>
                                </button>
                                <button class="btn btn-link" (click)="arrayMove(inputs, i, i + 1)"
                                        *ngIf="i < inputs.length - 1"><i class="fa fa-angle-down"></i></button>
                                <button class="btn btn-link" *ngIf="i == inputs.length - 1" disabled><i
                                    class="fa fa-angle-down"></i></button>
                            </div>
                            <button class="btn btn-link" (click)="removeInput(i)"><i class="fa fa-trash-o"></i>
                            </button>
                        </div>

                    </div>

                </div>

                <div *ngIf="input.type == '◉ multiple choice' || input.type == '☑ checkboxes'">
                    <div class="row">

                        <div class="col-xs-12 col-md-8">
                            <div class="form-group" *ngFor="let option of input.options; index as j">

                                <div class="col-xs-9 col-xs-offset-1 col-sm-5 col-sm-offset-3">
                                    <input type="text" [(ngModel)]="input.options[j]" [ngModelOptions]="{standalone: true}" class="form-control">
                                </div>
                                <button class="btn btn-link" (click)="removeOption(i, j)"><i
                                    class="fa fa-trash-o"></i></button>

                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-xs-12 col-md-8">
                            <div class="form-group">
                                <div class="col-xs-9 col-xs-offset-1 col-sm-5 col-sm-offset-3">
                                    <button (click)="addOption(input)" class="btn btn-sm btn-default"
                                            *ngIf="input.options.length < 50">
                                        + Add option
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">

                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                            <button (click)="add()" class="btn btn-sm btn-default">+ Add question</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="clearfix"></div>

        <div class="section">
            <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="loading">
                Publish event
            </button>
        </div>

    </form>
</div>
