<div class="container">
    <h1>
        <a class="btn btn-link" href="/manage"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        Edit user
    </h1>

    <form class="form-horizontal">

        <fieldset class="section">
            <legend class="h4 block">First, the basics.</legend>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userEdit-firstName" class="col-xs-12 col-sm-3 control-label">Name</label>
                        <div class="col-xs-6 col-sm-4">
                            <input placeholder="First name" type="text" [(ngModel)]="user.firstName"
                                   class="form-control" id="userEdit-firstName" required [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <input placeholder="Family name" type="text" [(ngModel)]="user.lastName"
                                   class="form-control" id="userEdit-lastName" required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userEdit-email" class="col-xs-12 col-sm-3 control-label">Email address</label>
                        <div class="col-xs-12 col-sm-9">
                            <input placeholder="@student.tue.nl" type="email" [(ngModel)]="user.email"
                                   class="form-control" id="userEdit-email" required [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>

                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    Essential communication will proceed through email, as well as the promotion of events.
                </p>

            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-member" class="col-xs-12 col-sm-3 control-label">Membership</label>
                        <div class="col-xs-12 col-sm-9">
                            <select [(ngModel)]="user.honorsMembership" class="form-control" id="userCreate-member" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let ms of memberships" [value]="ms">{{ms}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

        </fieldset>

        <hr>

        <fieldset class="section">
            <legend class="h4 block">Additional information. This part is <span class="text-primary">optional</span>.</legend>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userEdit-major" class="col-xs-12 col-sm-3 control-label">
                            <span *ngIf="user.honorsMembership == memberships[1] || user.honorsMembership == memberships[2]">(old) </span>TU/e Major</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" [(ngModel)]="user.major" class="form-control" id="userEdit-major" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userCreate-track" class="col-xs-12 col-sm-3 control-label">
                            <span *ngIf="user.honorsMembership == memberships[1] || user.honorsMembership == memberships[2]">(old) </span>Honors track</label>
                        <div class="col-xs-12 col-sm-9">
                            <select [(ngModel)]="user.track" class="form-control" id="userCreate-track" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let track of tracks" [value]="track">{{track}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userEdit-trackstart" class="col-xs-12 col-sm-3 col-sm-offset-1 control-label">started in</label>
                        <div class="col-xs-12 col-sm-4">
                            <select [(ngModel)]="user.honorsGeneration" class="form-control" id="userEdit-trackstart" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let gen of generations" [value]="gen">{{gen}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userEdit-cardNumber" class="col-xs-12 col-sm-3 control-label">Card number</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="tel" [disabled]="user.honorsMembership == memberships[1] || user.honorsMembership == memberships[2]" [(ngModel)]="user.campusCardNumber" class="form-control" id="userEdit-cardNumber" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>

                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small" *ngIf="!(user.honorsMembership == memberships[1] || user.honorsMembership == memberships[2])">
                    This will be used to grant you access to the Honors Room.
                </p>
            </div>

            <div class="clearfix block"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userEdit-phone" class="col-xs-12 col-sm-3 control-label">Mobile phone</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="tel" [(ngModel)]="user.mobilePhoneNumber" class="form-control" id="userEdit-phone" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    This will be used for quick contact for activities if needed.
                </p>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="userEdit-address" class="col-xs-12 col-sm-3 control-label">Address</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" [(ngModel)]="user.address" class="form-control" id="userEdit-address" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                </div>
                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    This enables the board to send an association update through post, or to send you a gift.
                </p>
            </div>

            <div class="clearfix"></div>
        </fieldset>

        <hr>

        <fieldset class="section" *ngIf="currentUser.role.USER_MANAGE && currentUser.role.ROLE_MANAGE">
            <legend class="h4 block">Website</legend>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <label for="userEdit-role" class="col-xs-12 col-sm-3 control-label" style="padding-top: 0">Role</label>
                    <div class="col-xs-12 col-sm-9">
                        <div *ngFor="let r of roles.roles" id="userEdit-role">
                            <input type="radio" [(ngModel)]="selectedRole.name" [ngModelOptions]="{standalone: true}" value="{{r.name}}"/>
                            <span> {{r.name}} </span>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>

        <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="loading">Save</button>
    </form>
</div>
