.opportunity-img-container {
    position: relative;
    height: calc(100% - 130px);
    padding: 4px 20px 20px 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-origin: content-box;
}

.opportunity-title {
    margin: 0 0 0 0.75rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #4ea0c1;
    line-height: 1.1;
}

.opportunity-company {
    margin: 0 0 0 0.75rem;
    line-height: normal;
    color: #777;
}

.opportunity-footer {
    position: absolute;
    bottom: 15px;
    height: 46px;
    width: calc(100% - 30px);
    padding: 3px 0 0 0;
}