<div class="container">
    <ol class="breadcrumb small">
        <li><a href="/partners/sponsors">Sponsors</a></li>
        <li class="active">Optiver</li>
    </ol>

    <h1>Optiver</h1>
    <p>If you thrive in an environment where you are propelled to new limits every day, then Optiver is the place for
        you. So, what is it that we do and why does it lie at the cutting-edge of technology, trading and research?
    </p>
    <h3>A never-ending pursuit of excellence.</h3>
    <p>We are market makers. In simple terms, we provide bid-ask prices for financial products in exchanges all over
        the world. This creates the liquidity needed to keep the markets viable and allow everyone to trade at will.
        In essence, we improve the market and give it stability even in times of extreme volatility. It’s a
        responsibility we don’t take lightly but that also makes what we do so exciting.
    </p>
    <h3>Pushing the envelope one idea at a time.</h3>
    <p>Every day at Optiver is an opportunity to solve the seemingly impossible. For you to build, code, develop and
        strategise something that pushes the boundaries of technological and analytical possibility. Every team member
        has an integral part to play in this endeavour. From traders, developers, engineers, researchers and support,
        we all strive towards finding solutions to incredibly complex problems. It’s a melting pot of dynamic thought,
        simple execution and pioneering spirits.
    </p>
    <h3>Your Growth Is Our Growth</h3>
    <p>Our team ethos is based on a foundation of growing success. This means that we want you to continually improve
        and evolve into the best version of yourself. This is fostered in a working environment where everyone is an
        equal and is afforded the same opportunities to flourish. This rings true across our global operations, which
        include offices in Amsterdam, London, Chicago, Shanghai and Sydney.
    </p>
    <h3>Becoming Part Of Our Team</h3>
    <p>The bar is set high and with good reason. To continue innovating in our category, we select those whose
        brilliance will shine. We value potential over current expertise, which is why we hire candidates from a wide
        range of fields. Our recruitment process includes interactive experiences that test your analytical ability and
        give you a taste of what it means to be a market maker. We look forward to meeting you – as you could well be
        our newest, most-valued teammate.
    </p>
    <p>Your next big growth opportunity could be in one of the following roles at Optiver:
    </p>
    <ul>
        <li><b>Trading Analyst (Part-time job during your study)</b></li>
        <li><b>Quantitative Trader</b></li>
        <li><b>Trader</b></li>
        <li><b>Quantitative Researcher</b></li>
        <li><b>Graduate Application Engineer</b></li>
        <li><b>Graduate Software Engineer</b></li>
    </ul>
    <p>To discover more about us, visit <a href="https://www.optiver.com/eu/en/">our website</a> or contact us directly.
        In the meantime feel free to learn more about who we are and what we do by following us on
        <a href="https://www.linkedin.com/company/optiver/">LinkedIn</a>,
        <a href="https://www.instagram.com/optivereurope/">Instagram</a>,
        <a href="https://twitter.com/optivereurope">Twitter</a> and
        <a href="https://www.facebook.com/OptiverEurope/">Facebook</a>.
    </p>
    <p>Interested what our office looks or get a first impression of our Trading job? Have a look at the following
        movies:
    </p>
    <p>Office tour: <a href="https://youtu.be/kTqejiQP8pM">https://youtu.be/kTqejiQP8pM</a>
    </p>
    <p>Trading at Optiver:
        <a href="https://www.youtube.com/watch?v=6xn6tZ_DIjA">https://www.youtube.com/watch?v=6xn6tZ_DIjA</a>
    </p>
    <p><b>Contact:</b>
    </p>
    <p>Pamela Jensen (Tech recruiter) – <a href="mailto:PamelaJensen@optiver.com">PamelaJensen@optiver.com</a> /
        <a href="https://www.linkedin.com/in/pamela-jensen/">https://www.linkedin.com/in/pamela-jensen/</a>
    </p>
    <p>Bernice Juk (Trading recruiter) – <a href="mailto:bernicejuk@optiver.com">bernicejuk@optiver.com</a> /
        <a href="linkedin.com/in/bernice-juk-95421945">linkedin.com/in/bernice-juk-95421945</a>
    </p>
</div>