<div class="container">
    <ol class="breadcrumb small">
        <li><a href="/partners/sponsors">Sponsors</a></li>
        <li class="active">De Nederlandsche Bank</li>
    </ol>

    <h1>Optiver</h1>
    <p>Over thirty years ago, Optiver started business as a single trader on the floor of Amsterdam’s European Options
        Exchange. Today, we are a leading global electronic market maker, focused on pricing, execution and risk
        management. We provide liquidity to financial markets using our own capital, at our own risk and own software,
        trading a wide range of products: from listed derivatives, cash equities, ETFs and bonds to foreign exchange.
        Our independence allows us to objectively improve the markets and provide efficiencies for market
        participants.</p>
    <p>With 1000 Optiverians globally in Amsterdam, Chicago, London, Shanghai and Sydney our diverse team is united by
        our mission to improve the market. Thriving in a high performance environment, we pioneer our own trading
        strategies and systems using clean code and sophisticated technology. The technical challenges that this fast
        environment presents is what really motivates and challenges people at Optiver; to help us achieve what we want
        to attract, develop and empower top talent with a down to earth mentality, in order to sustain our future.</p>
    <p>What really sets Optiver apart from other companies is its openness, honesty and our colleagues. People have very
        strong opinions, but they are also open to listen and to change their mind if the facts presented by others have
        more value. The team shares the same goal, meaning that we are all pulling in the same direction and you as an
        individual care about how the person next to you is doing their job.</p>
</div>