<div class="container">
    <h1>
        <a class="btn btn-link" href="/manage"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        Edit Group
    </h1>

    <form>
        <div class="form-group">
            <label for="groupEdit-name">Group name</label>
            <input type="text" [(ngModel)]="group.displayName" [ngModelOptions]="{standalone: true}" class="form-control" id="groupEdit-name">
        </div>

        <div class="form-group">
            <label for="groupEdit-fullName">Full name</label>
            <input type="text" [(ngModel)]="group.fullName" [ngModelOptions]="{standalone: true}" class="form-control" id="groupEdit-fullName">
        </div>

        <div class="form-group">
            <label for="groupEdit-desc">Description</label>
            <input type="text" [(ngModel)]="group.description" [ngModelOptions]="{standalone: true}" class="form-control" id="groupEdit-desc">
        </div>

        <div class="form-group">
            <label for="groupEdit-email">Email</label>
            <input type="text" [(ngModel)]="group.email" [ngModelOptions]="{standalone: true}" class="form-control" id="groupEdit-email">
        </div>

        <div class="form-group">
            <label>Type</label>
            <div class="radio">
                <label>
                    <input type="radio" [(ngModel)]="group.type" [ngModelOptions]="{standalone: true}" value="Committee" id="groupCreate-type1"/> Committee
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" [(ngModel)]="group.type" [ngModelOptions]="{standalone: true}" value="Board" id="groupCreate-type2"/> Board
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" [(ngModel)]="group.type" [ngModelOptions]="{standalone: true}" value="Other" id="groupCreate-type3"/> Other
                </label>
            </div>
        </div>

        <div class="checkbox">
            <label for="groupCreate-canOrganize">
                <input type="checkbox" [(ngModel)]="group.canOrganize" [ngModelOptions]="{standalone: true}" id="groupCreate-canOrganize"> Can this group
                organize events?
            </label>
        </div>

        <div class="col-md-6">
            <label>Users in group</label>
            <div>
                <input type="text" class="form-control" placeholder="Search users in group" [(ngModel)]="searchQueryUsersInGroup" [ngModelOptions]="{standalone: true}">
            </div>
            <div style="overflow: auto; height: 200px; border: 1px solid black; padding: 5px">
                <div *ngFor="let user of (usersInGroup | filter: userCallbackFilter :searchQueryUsersInGroup); index as i; " style="margin: 1px">
                    <button (click)="removeUserFromGroup(user, i)">-</button>
                    {{user.name}}
                    <select [(ngModel)]="user.func" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let role of groupRoles" [value]="role">{{role}}</option>
                    </select><br>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <label>Users not in group</label>
            <div>
                <input type="text" class="form-control" placeholder="Search users not in group"
                       [(ngModel)]="searchQueryUsersNotInGroup" [ngModelOptions]="{standalone: true}">
            </div>
            <div style="overflow: auto; height: 200px; border: 1px solid black; padding: 5px">
                <div *ngFor="let user of (usersNotInGroup | filter: userCallbackFilter: searchQueryUsersNotInGroup); index as i" style="margin: 1px">
                    <button (click)="addUserToGroup(user, i)">+</button>
                    {{user.name}}
                </div>
            </div>
        </div>

        <div class="col-md-12"><br></div>

        <button type="submit" class="btn btn-default" (click)="submit()" [disabled]="loading">Save</button>

    </form>
</div>
