<!-- Imported into the template 'honors_bachelor.html' -->
<li><a href="/education/tracks/artificial_intelligence">Artificial Intelligence</a></li>
<li><a href="/education/tracks/competitive_programming_and_problem_solving">Competitive Programming and Problem Solving</a></li>
<li><a href="/education/tracks/empowerment_for_healthcare_and_wellbeing">Empowerment for Healthcare and Wellbeing</a></li>
<li><a href="/education/tracks/energy_transition">Energy Transition</a></li>
<li><a href="/education/tracks/high_tech_systems">High Tech Systems</a></li>
<li><a href="/education/tracks/sensus">SensUs Organization</a></li>
<li><a href="/education/tracks/smart_cities">Smart Cities</a></li>
<li><a href="/education/tracks/smart_mobility">Smart Mobility</a></li>
