<div class="container">
    <div *ngIf="!user.loggedIn">
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10 text-center login-form">
                <form #loginForm="ngForm">
                    <h1>Login</h1>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="email" class="form-control login-input"
                               placeholder="Email address" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group ">
                        <input type="password" [(ngModel)]="password" class="form-control login-input"
                               placeholder="Password" [ngModelOptions]="{standalone: true}">
                    </div>

                    <button type="submit" (click)="login(email, password)" class="btn btn-primary btn-lg login-btn">
                        Login
                    </button>
                </form>
                <p style="margin-top: 1rem">If you do not have an account yet, <b>sign up via the registration link in the Weekly Newsletters</b>.</p>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>
    </div>

    <div *ngIf="user.loggedIn">
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10 text-center login-form">
                <h1>Logout</h1>
                <button type="submit" (click)="logout()" class="btn btn-primary btn-lg login-btn">
                    Logout
                </button>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>

    </div>
</div>
